VITE_FIREBASE_API_KEY=AIzaSyBaO_qgUQETep3-v1l554RwA25otHJr8aU
VITE_FIREBASE_AUTH_DOMAIN=smartpatrol-7ff9e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=smartpatrol-7ff9e
VITE_FIREBASE_STORAGE_BUCKET=smartpatrol-7ff9e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1054382503865
VITE_FIREBASE_APP_ID=1:1054382503865:web:21b75f4631799d4d06e868
VITE_FIREBASE_MEASUREMENT_ID=G-L158G73VVS
VITE_FIREBASE_VAPID_KEY=YOUR_FIREBASE_WEB_PUSH_CERTIFICATE_KEY_PAIR
